<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="com.kraz3d" status="DEBUG">
    <Properties>
        <Property name="PATTERN">%d{ABSOLUTE} %-5p [%c{1}] %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
